<!DOCTYPE html>
<html>
<head>
  <title>Push Notification Demo</title>
</head>
<body>
  <h1>Push Notification Demo</h1>
  <button onclick="subscribeUser()">Enable Notifications</button>

  <script src="../main.js"></script>
</body>
</html>
